@import '../../../../variables.scss';

.navbar-logo-div {
  position: relative;
  width: 0px;
  height: 0px;
}

.navbar-logo-img {
  position: absolute;
  left: -66px;
  top: -33px;
  width: 66px;
  height: 66px;
}

.menu-drop-container {
  border-left: 1px solid #dae4ef;
}
